
@{
    ViewData["Title"] = "Registered";
}

<h2>
Thank you for registering
</h2>

<p>
Thank you for registering for PodfestMidwest
We’re glad that you will be taking part, and look forward to seeing you at the events.
</p>

<h3>
Spread the love!
</h3>
<p>
Please take a moment and spread the word with one of these:
</p>

<ul>
        <li><a href="http://twitter.com/intent/tweet?source=webclient&amp;text=I%20just%20registered%20for%20@PodfestMidwest.%20Looks%20awesome!%20You%20going?%20http://www.podfestMidewst.com" target="%20blank">Tweet it!</a><p></p>
        <p></p></li>
    
        <li><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http%3A%2F%2Fpodfestmidwest&amp;title=Going%20to%20PodfestMidwest&amp;source=MASHeI%20just%20registered%20for%20@PodfestMidwest.%20Looks%20awesome!%20You%20going?&amp;summary=I%20just%20registered%20for%20@PodfestMidwest!%20Looks%20awesome.%20You%20going?" target="%20blank">Share it on LinkedIn</a><p></p>
        <p></p></li>
    
        <li><a href="https://www.facebook.com/sharer.php?u=http%3A%2F%2Fpodfestmidwest.com&t=I%20just%20registered%20for%20%40PodfestMidwest.%20Looks%20awesome!%20You%20going%3F" target="%20blank">Post it on Facebook!</a><br>
            <br>
        </li>
</ul>
