@model Capstone.Models.Event

@{
    ViewData["Title"] = "EditEvent";
}

<h2>Edit Event</h2>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditEvent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EventId" class="control-label"></label>
                <input asp-for="EventId" class="form-control" />
                <span asp-validation-for="EventId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beginning" class="control-label"></label>
                <input asp-for="Beginning" class="form-control" />
                <span asp-validation-for="Beginning" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ending" class="control-label"></label>
                <input asp-for="Ending" class="form-control" />
                <span asp-validation-for="Ending" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PodcastId" class="control-label"></label>
                <input asp-for="PodcastId" class="form-control" />
                <span asp-validation-for="PodcastId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VenueId" class="control-label"></label>
                <input asp-for="VenueId" class="form-control" />
                <span asp-validation-for="VenueId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Logo" class="control-label"></label>
                <input asp-for="Logo" class="form-control" />
                <span asp-validation-for="Logo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Copy" class="control-label"></label>
                <input asp-for="Copy" class="form-control" />
                <span asp-validation-for="Copy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PodcastURL" class="control-label"></label>
                <input asp-for="PodcastURL" class="form-control" />
                <span asp-validation-for="PodcastURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TicketLevel" class="control-label"></label>
                <input asp-for="TicketLevel" class="form-control" />
                <span asp-validation-for="TicketLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpsaleCopy" class="control-label"></label>
                <input asp-for="UpsaleCopy" class="form-control" />
                <span asp-validation-for="UpsaleCopy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsFinalIzed" /> @Html.DisplayNameFor(model => model.IsFinalIzed)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

