
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div>
    <h1>Getting Started with Vue.js in .NET Core</h1>
    <h1>This looks like a quick instructions on making API and using Vue:  https://www.codeproject.com/Tips/1271379/Simple-ASP-NET-CORE-2-2-App-plusVue-JS </h1>
</div>
