@model Capstone.Models.ViewModel.EventViewModel

@{
    ViewData["Title"] = "SaveEvent";
}

<h2>SaveEvent</h2>

<h4>Testing Here</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SaveEvent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EventItem.Name" class="control-label"></label>
                <input asp-for="EventItem.Name" class="form-control" />
                <span asp-validation-for="EventItem.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VenueList" class="control-label"></label>
                <select asp-for="VenueList" asp-items="Model.VenueList" class="form-control"></select>
                <span asp-validation-for="VenueList" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventItem.Beginning" class="control-label"></label>
                <input asp-for="EventItem.Beginning" class="form-control" />
                <span asp-validation-for="EventItem.Beginning" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventItem.Ending" class="control-label"></label>
                <input asp-for="EventItem.Ending" class="form-control" />
                <span asp-validation-for="EventItem.Ending" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventItem.Logo" class="control-label"></label>
                <input asp-for="EventItem.Logo" class="form-control" />
                <span asp-validation-for="EventItem.Logo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenreList" class="control-label"></label>
                <select asp-for="GenreList" asp-items="Model.GenreList" class="form-control"></select>
                <span asp-validation-for="GenreList" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
            <div class="form-group-home">
                <a id="home-link" asp-controller="Home" asp-action="Index">Back to Home page</a>
            </div>
        </form>
    </div>
</div>

