@model Capstone.Models.ViewModel.EventViewModel

@{
    ViewData["Title"] = "SaveEvent";
}

<h2>SaveEvent</h2>

<h4>Testing Here</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SaveEvent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EventItem.Name" class="control-label"></label>
                <input asp-for="EventItem.Name" class="form-control" />
                <span asp-validation-for="EventItem.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PodcastList" class="control-label"></label>
                @Html.DropDownListFor(model => model.EventItem.PodcastID, Model.PodcastList, new { @class = "form-control" })
                <span asp-validation-for="EventItem.PodcastID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EventItem.Beginning" class="control-label"></label>
                <input asp-for="EventItem.Beginning" class="form-control" />
                <span asp-validation-for="EventItem.Beginning" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventItem.Ending" class="control-label"></label>
                <input asp-for="EventItem.Ending" class="form-control" />
                <span asp-validation-for="EventItem.Ending" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="VenueList" class="control-label"></label>
                @Html.DropDownListFor(model => model.EventItem.Venue, Model.VenueList, new { @class = "form-control" })
                <span asp-validation-for="EventItem.CoverPhoto" class="text-danger"></span>
            </div>



            @*<div class="form-group">
            <label asp-for="VenueList" class="control-label"></label>
            <select asp-for="VenueList" asp-items="Model.VenueList" class="form-control"></select>
            <span asp-validation-for="VenueList" class="text-danger"></span>
        </div>*@

            <div class="form-group">
                <label asp-for="EventItem.CoverPhoto" class="control-label"></label>
                <input asp-for="EventItem.CoverPhoto" class="form-control" />
                <span asp-validation-for="EventItem.CoverPhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventItem.DescriptionCopy" class="control-label"></label>
                <input asp-for="EventItem.DescriptionCopy" class="form-control" />
                <span asp-validation-for="EventItem.CoverPhoto" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EventItem.TicketLevel" class="control-label"></label>
                @Html.DropDownListFor(model => model.EventItem.TicketLevel, Model.TicketList, new { @class = "form-control" })
                <span asp-validation-for="EventItem.TicketLevel" class="text-danger"></span>
            </div>

            @*<div class="form-group">
                <label asp-for="EventItem.TicketLevel" class="control-label"></label>
                <input asp-for="EventItem.TicketLevel" class="form-control" />
                <span asp-validation-for="EventItem.TicketLevel" class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <label asp-for="EventItem.UpsaleCopy" class="control-label"></label>
                <input asp-for="EventItem.UpsaleCopy" class="form-control" />
                <span asp-validation-for="EventItem.UpsaleCopy" class="text-danger"></span>
            </div>

            @*<div class="form-group">
            <label asp-for="PodcastList" class="control-label"></label>
            <drop-down-list asp-for="PodcastList" asp-items="Model.PodcastList" class="form-control"></drop-down-list>
            <span asp-validation-for="PodcastList" class="text-danger"></span>
        </div>*@



            @*<div class="form-group">
            <label asp-for="GenreList" class="control-label"></label>
            <drop-down-list asp-for="GenreList" asp-items="Model.GenreList" class="form-control"></drop-down-list>
            <span asp-validation-for="GenreList" class="text-danger"></span>
        </div>*@

            @*<div class="form-group">

                <label asp-for="TicketList" class="control-label"></label>
                <select asp-for="TicketList" asp-items="Model.TicketList" class="form-control"></select>
                <span asp-validation-for="TicketList" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenreList" class="control-label"></label>
                <select asp-for="GenreList" asp-items="Model.GenreList" class="form-control"></select>
                <span asp-validation-for="GenreList" class="text-danger"></span>
            </div>
            <div class="form-group">*@

                <label asp-for="EventItem.IsFinalized" class="control-label"></label>
                <input type="checkbox" asp-for="EventItem.IsFinalized" value="true"><br>
                <span asp-validation-for="EventItem.IsFinalized" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
            <div class="form-group-home">
                <a id="home-link" asp-controller="Home" asp-action="Index">Back to Home page</a>
            </div>
        </form>
    </div>
</div>

