

@model Capstone.Models.ViewModel.PodcastViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Podcast</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(model => model.Podcast.PodcastID)
    </div>
   
                <div class="form-group">
                <label asp-for="Podcast.Hosting" class="control-label"></label>
                <input asp-for="Podcast.Hosting" class="form-control" />
                <span asp-validation-for="Podcast.Hosting" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Podcast.URL" class="control-label"></label>
                <input asp-for="Podcast.URL" class="form-control" />
                <span asp-validation-for="Podcast.URL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Podcast.Title" class="control-label"></label>
                <input asp-for="Podcast.Title" class="form-control" />
                <span asp-validation-for="Podcast.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Podcast.Description" class="control-label"></label>
                <input asp-for="Podcast.Description" class="form-control" />
                <span asp-validation-for="Podcast.Description" class="text-danger"></span>
            </div>
    <div class="form-group">
        @Html.DropDownListFor(model => model.Podcast.GenreID, Model.GenreList, new { @class = "form-control" })
        <span asp-validation-for="Podcast.GenreID" class="text-danger"></span>
    </div>
    
    
                <div class="form-group">
                <label asp-for="Podcast.OriginalRelease" class="control-label"></label>
                <input asp-for="Podcast.OriginalRelease" class="form-control" />
                <span asp-validation-for="Podcast.OriginalRelease" class="text-danger"></span>
            </div>
    
    <div class="form-group">
                <label asp-for="Podcast.RunTime" class="control-label"></label>
                <input asp-for="Podcast.RunTime" class="form-control" />
                <span asp-validation-for="Podcast.RunTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Podcast.ReleaseFrequency" class="control-label"></label>
                <input asp-for="Podcast.ReleaseFrequency" class="form-control" />
                <span asp-validation-for="Podcast.ReleaseFrequency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Podcast.AverageLength" class="control-label"></label>
                <input asp-for="Podcast.AverageLength" class="form-control" />
                <span asp-validation-for="Podcast.AverageLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Podcast.EpisodeCount" class="c ontrol-label"></label>
                <input asp-for="Podcast.EpisodeCount" class="form-control" />
                <span asp-validation-for="Podcast.EpisodeCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Podcast.DownloadCount" class="control-label"></label>
                <input asp-for="Podcast.DownloadCount" class="form-control" />
                <span asp-validation-for="Podcast.DownloadCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Podcast.MeasurementPlatform" class="control-label"></label>
                <input asp-for="Podcast.MeasurementPlatform" class="form-control" />
                <span asp-validation-for="Podcast.MeasurementPlatform" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Podcast.Demographic" class="control-label"></label>
                <input asp-for="Podcast.Demographic" class="form-control" />
                <span asp-validation-for="Podcast.Demographic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Podcast.Affiliations" class="control-label"></label>
                <input asp-for="Podcast.Affiliations" class="form-control" />
                <span asp-validation-for="Podcast.Affiliations" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Podcast.BroadcastCity" class="control-label"></label>
                <input asp-for="Podcast.BroadcastCity" class="form-control" />
                <span asp-validation-for="Podcast.BroadcastCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Podcast.BroadcastState" class="control-label"></label>
                <input asp-for="Podcast.BroadcastState" class="form-control" />
                <span asp-validation-for="Podcast.BroadcastState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Podcast.InOhio" /> @Html.DisplayNameFor(model => model.Podcast.InOhio)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Podcast.IsSponsored" /> @Html.DisplayNameFor(model => model.Podcast.IsSponsored)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Podcast.Sponsor" class="control-label"></label>
                <input asp-for="Podcast.Sponsor" class="form-control" />
                <span asp-validation-for="Podcast.Sponsor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

